<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4 text-center">Sobre mi</h1>
    </div>
    <p>
        Bienvenido a mi sitio web. Soy un desarrollador apasionado por el cine y la cultura cinematográfica.
        Me esfuerzo por brindar información relevante y emocionante sobre películas y directores destacados.
        Explora nuestro sitio y descubre el fascinante mundo del cine con nosotros.
        Página creada por Alejandro Cifuentes Batista
    </p>

</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
        </li>
        <li class="page-item active" aria-current="page"></li>
        </li>
        <li class="page-item"><a class="page-link" href="/">Volver al index</a></li>
        <li class="page-item">
        </li>
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
