<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Película</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="container mt-5">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
         <li class="page-item disabled">
         </li>
         <li class="page-item active" aria-current="page"></li>
            </li>
                <li class="page-item"><a class="page-link" href="/">Volver al index</a></li>
                <li class="page-item"><a class="page-link" href="/peliculas">Volver a Películas</a></li>
                <li class="page-item">
         </li>
    </ul>
    </nav>
</div>
<body class="bg-dark text-white">
<div class="container mt-5">
    <h1 class="text-center">Eliminar Película</h1>
    <form action="/api/peliculas/delete_pelicula" method="POST">
        <div class="form-group">
            <label for="nombre">Nombre de la Película que quieres eliminar:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="/api/peliculas/delete_pelicula" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>
