<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #343a40;
            color: white;
            padding-top: 70px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #555;
        }

        th {
            background-color: #212529;
        }

        img {
            border-radius: 10px;
            height: 150px;
            object-fit: cover;
        }

        .btn {
            margin-right: 5px;
        }
    </style>
</head>

<body>

<h1 class="text-center mt-5">Lista de Directores</h1>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link btn btn-primary" href="/">Volver al Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-success" href="/peliculas">Ir a Películas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-success" href="/directores/insert">Insertar director</a>

    </li>
</ul>

<table class="mt-3">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% if (Array.isArray(directores)) { %>
        <% directores.forEach(function(director) { %>
            <tr>
                <td><%= director.nombre %></td>
                <td><img src="<%= director.imagen %>" alt=""></td>
                <td>
                    <a href="/directores/detalles/<%= director.id %>" class="btn btn-secondary">Detalles del director</a>
                </td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr>
            <td colspan="6">No se encontraron directores</td>
        </tr>
    <% } %>
    </tbody>
</table>

</body>
</html>
