<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/navbar.html') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
<h1> INSERT ITEM</h1>
<form action="/directores/insert" method="POST">

    <label for="nombre">nombre</label>
    <input id="nombre" type="text" name="nombre">

    <label for="nacionalidad">nacionalidad</label>
    <input id="nacionalidad" type="text" name="nacionalidad">

    <label for="genero">genero</label>
    <input id="genero" type="number" name="imagen">

    <label for="imagen">imagen</label>
    <input id="imagen" type="text" name="imagen">

    <input type="submit" value="insert">
</form>
</body>
<%- include('partials/footer.html') %>
</html>