<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <style>
        body {
            background-color: #343a40;
            color: #ffffff;
            padding-top: 70px;
        }

        h1 {
            text-align: center;
            color: #ffffff;
            margin-top: 20px;
        }

        form {
            width: 60%;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-top: 10px;
            color: #ffffff;
        }

        input[type="text"],
        input[type="submit"],
        select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            box-sizing: border-box;
            color: #495057; +
            background-color: #ffffff;
            border: 1px solid #ced4da;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>

<h1>Insertar Película</h1>
<li class="nav-item">
    <a class="nav-link btn btn-primary" href="/peliculas">Volver</a>
</li>
<form action="/peliculas/insert" method="POST">

    <label for="director">Director</label>
    <select class="option-bar" id="director" name="director">
        <% directores.forEach((director) =>{ %>
            <option value="<%= director._id %>"><%= director.nombre %></option>
        <% }); %>
    </select>

    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre">

    <label for="duracion">Duración</label>
    <input id="duracion" type="text" name="duracion">

    <label for="premios">Premios</label>
    <input id="premios" type="text" name="premios">

    <label for="imagen">Imagen</label>
    <input id="imagen" type="text" name="imagen" pattern="https://.*" title="La URL debe comenzar con https://">

    <input type="submit" value="Insertar">
</form>

</body>
</html>
