<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #343a40; /* Cambiar el color de fondo */
            color: white; /* Cambiar el color del texto */
            padding-top: 70px; /* Añadir espacio al principio */
        }

        table {
            width: 100%; /* Hacer la tabla ocupar todo el ancho */
            border-collapse: collapse; /* Colapsar los bordes de la tabla */
        }

        th, td {
            padding: 8px; /* Añadir espacio interno */
            text-align: left; /* Alinear el texto a la izquierda */
            border-bottom: 1px solid #555; /* Añadir borde inferior */
        }

        th {
            background-color: #212529; /* Cambiar el color de fondo de las cabeceras */
        }

        img {
            border-radius: 10px; /* Agregar borde redondeado a las imágenes */
            height: 150px; /* Definir la altura de las imágenes */
            object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
        }

        .btn {
            margin-right: 5px; /* Añadir espacio entre los botones */
        }
    </style>
</head>

<body>



<h1 class="text-center mt-5">Lista de Películas</h1>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link btn btn-primary" href="/">Volver al Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-success" href="/directores">Ir a Directores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-success" href="/peliculas/insert">Insertar pelicula</a>

    </li>
</ul>

<table class="mt-3">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% peliculas.forEach(function(pelicula) { %>
        <tr>
            <td><%= pelicula.nombre %></td>
            <td><img src="<%= pelicula.imagen %>" alt=""></td>
            <td>
                <a href="/peliculas/detalles/<%= pelicula.id %>" class="btn btn-secondary">Detalles Película</a>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>

</body>
</html>
